**/workspace*
**/files/python_files/__pycache__
**/legend.txt
**/__pycache__
**/aggregate_general_Data.txt
**/signac_project_document.json
000000_analysis/
aggregated_free_energy.txt
slurm-*.out
lambda_0_0_rdf_summary.txt